[Unit]
Description="Factorio Server (%i)"

[Service]
Group=factorio-manager
User=factorio-manager
KillMode=process
ExecStart=/usr/bin/factorio-manager start %i
